/* Our constants */
:root {
  --blue: #61c3ff;
  --white: white;
  --main-text-color: #3e5869;
  --send-message-form: #f5f5f5;
}
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui;
}

.app {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 60px;
  grid-template-areas:
    "r m m m m m"
    "r m m m m m"
    "r m m m m m"
    "r m m m m m"
    "r m m m m m"
    "nr s s s s s";
}

.room-list {
  grid-area: r;
}

.message-list {
  grid-area: m;
}

.new-room {
  grid-area: nr;
}

.send-message {
  grid-area: s;
}

.room-list {
  height: 100%;
  padding: 1.5rem;
  overflow: scroll;
  background-color: var(--blue);
}

.room-list h3 {
  color: var(--white);
  font-size: 1.5rem;
}

.room-list ul {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  list-style: none;
  padding-left: 0;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}
.room-list .active a {
  color: var(--white);
}

.message-list {
  height: 100%;
  width: 100%;
  padding-left: 10px;
  overflow: scroll;
}

.message {
  padding: 10px;
}

.message .message-username {
  font-size: 0.75rem;
  opacity: 0.9;
  margin-bottom: 0.25rem;
}

.message .message-text {
  width: fit-content;
  padding: 6px 10px;
  border-radius: 10px;
  background-color: var(--blue);
  color: var(--white);
}

.send-message input {
  height: 100%;
  width: 100%;
}

.new-room-form {
  padding: 0 5px;
  background: var(--white);
  color: var(--main-text-color);
}

.new-room-form form {
  height: 100%;
  display: flex;
}
.new-room-form form input {
  border: 0;
  padding-left: 10px;
}
.new-room-form form button {
  border: 0;
  background-color: var(--white);
}
